.students-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  background: #f3f6f7;
}

.students-content {
  width: 95%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.students-content-body {
  width: 100%;
  height: 90%;
}

.add-student-span-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-students-span-two {
  width: 25%;
  min-width: 100px;
  height: 100%;
  color: #2ab56f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-out;
  font-weight: 500;
  margin-right: 10px;
  transition: 0.2s ease-out;
  position: relative;
}

.add-students-span-two-after {
  width: 100%;
  height: 230%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 110%;
  border-radius: 8px;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.2);
  border: 1px solid rgb(235, 235, 235);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.add-students-span-two-after li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #323b44;
  text-transform: lowercase;
}

.add-students-span-two-after li:hover {
  background: rgb(243, 243, 243);
  color: #2ab56f;
}

.add-students-span-two:hover {
  background: #2ab5701f;
  transition: 0.2s ease-in;
  border-style: none;
}

.add-students-span-two i {
  margin-left: 10px;
  font-size: 13px;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.students-content-lists-body {
  width: 95%;
  height: auto;
  min-height: 150px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.1);
}

.students-content-lists-body-header {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 40px;
  height: 50px;
}

.students-content-search {
  width: 40%;
  height: 100%;
  border-style: none;
  outline-style: none;
  border-radius: 500px;
  border: 1px solid #f7f8fb;
  background: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
}

.student-list-header {
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  color: var(--sub-font);
  border-radius: 2px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 5px solid #f3f6f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  min-height: 50px;
}

.student-list-number,
.student-list-number-span {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-list-action,
.student-list-action-span {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-list-action-link {
  text-decoration: none;
  color: #323b44;
}

.student-list-action-span i {
  cursor: pointer;
  font-size: 15px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-out;
  color: grey;
}

.student-list-action-span i:hover {
  color: #323b44;
  box-shadow: 0px 8px 30px 0px rgba(49, 68, 80, 0.2);
  transition: 0.1s ease-in;
}

.student-list-id,
.student-list-id-span,
.student-list-gender,
.student-list-gender-span,
.student-list-gradelevel,
.student-list-gradelevel-span {
  width: 16.67%;
  height: 100%;
  display: flex;
  align-items: center;
}

.student-list-name,
.student-list-name-span {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.student-list-body {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  min-height: 30px;
  max-height: 50px;
  display: flex;
  font-size: var(--font13);
  position: relative;
  border-radius: 5px;
  color: var(--font);
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #f7f8fb;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  background: white;
}

.student-list-body:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px 0px rgba(75, 100, 116, 0.1);
  transition: 0.1s ease-in-out;
}

.hidinger {
  display: none;
}
