.edit-year-body {
  width: 95%;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.edit-year-left {
  width: 25%;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.2);
  min-height: 100px;
  max-height: 150px;
}

.edit-year-right {
  width: 73%;
  height: auto;
  min-height: 300px;
  position: relative;
}

.edit-year-left-1 {
  width: 100%;
  height: 50%;
  cursor: pointer;
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  padding-left: 15%;
  cursor: pointer;
  color: #bac1d1;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: 0.1s ease-out;
}

.edit-year-left-1:hover {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #323b44;
  transition: 0.1s ease-in;
  background: #f5f6fa;
}

.edit-year-left-2:hover {
  width: 100%;
  transition: 0.2s ease-in;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #323b44;
  transition: 0.1s ease-in;
  background: #f5f6fa;
}
.edit-year-left-2 {
  width: 100%;
  height: 50%;
  transition: 0.2s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 15%;
  cursor: pointer;
  color: #bac1d1;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.edit-year-left-1 i,
.edit-year-left-2 i,
.edit-year-left-1-active i,
.edit-year-left-2-active i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.edit-year-left-1-active {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  cursor: pointer;
  color: #323b44;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: 0.1s ease-out;
  background: #f5f6fa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.edit-year-left-2-active {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  cursor: pointer;
  color: #323b44;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: 0.1s ease-out;
  background: #f5f6fa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Grade Level Edit */
.edit-grade-level-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.2);
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
}

.edit-grade-level-wrapper-after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 4;
  border-radius: 5px;
}

.edit-grade-level-wrapper-after-header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font);
  border-bottom: 1px var(--border);
}

.edit-grade-level-wrapper-after-body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font);
}

.edit-grade-level-wrapper-after-body p {
  width: 50%;
  text-align: center;
  font-size: var(--font15);
  color: var(--font);
  margin-bottom: 20px;
}

.grade-level-edit-input-btn {
  width: 50%;
  height: 35px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  border: 1px solid rgb(230, 230, 236);
  padding-left: 10px;
  margin-bottom: 20px;
}

.grade-level-edit-input-btn:focus {
  border: 1px solid rgb(255, 38, 38);
  box-shadow: 0px 8px 30px 0px rgba(255, 46, 46, 0.1);
}

.grade-level-edit-btn-wrapper {
  width: 50%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
}

.grade-level-edit-btn-delete-btn {
  border-style: none;
  outline-style: none;
  width: 20%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 15px;
  background: rgb(255, 38, 38);
  color: white;
  pointer-events: auto;
}

.grade-level-edit-btn-delete-btn-false {
  border-style: none;
  outline-style: none;
  width: 20%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 15px;
  background: rgb(255, 38, 38, 1);
  color: white;
  opacity: 0.5;
  pointer-events: none;
}

.grade-level-edit-btn-cancel-btn {
  border-style: none;
  outline-style: none;
  width: 20%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  background: rgb(229, 231, 238);
  border: 1px solid rgb(230, 230, 236);
  transition: 0.2s ease-out;
}

.grade-level-edit-btn-cancel-btn:hover {
  transition: 0.2s ease-in;
  background: rgb(207, 208, 214);
}

.edit-grade-level-wrapper-after-hidden {
  display: none;
}

.edit-grade-level-form {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.edit-grade-level-div {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 300px;
}

.edit-grade-level-div label {
  font-weight: 500;
  font-size: var(--font13);
  color: #7a7a7a;
  margin-bottom: 5px;
}

.edit-grade-level-div input,
.edit-grade-level-div select {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  border: 1px solid lightgrey;
  padding-left: 10px;
  margin-bottom: 15px;
}

.edit-grade-level-div input:focus,
.edit-grade-level-div select:focus {
  border: 1px solid rgb(184, 198, 214);
}

.edit-grade-level-div-submit {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  min-width: 300px;
  margin-top: 15px;
}

.edit-grade-level-form-header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font);
  border-bottom: 1px var(--border);
}

.edit-grade-level-form-body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-grade-level-delete-btn {
  border-style: none;
  outline-style: none;
  width: 20%;
  max-width: 100px;
  min-width: 90px;
  height: 100%;
  color: white;
  border: 1px solid rgb(255, 38, 38);
  background: white;
  color: rgb(255, 38, 38);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.edit-grade-level-delete-btn:hover {
  transition: 0.1s ease-in;
  background: rgb(255, 38, 38);
  color: white;
}

.edit-grade-level-update-btn {
  border-style: none;
  outline-style: none;
  width: 20%;
  height: 100%;
  color: white;
  background: var(--main);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

/*Subject Year */
.subject-wrapper {
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.2);
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
}

.subject-wrapper-header {
  width: 100%;
  height: 10vh;
  max-height: 60px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font);
  border-bottom: 1px var(--border);
}

.subject-wrapper-body {
  width: 100%;
  height: auto;
  position: relative;
}

.empty-year-subjects {
  width: 100%;
  height: 20vh;
  min-height: 200px;
  max-height: 300px;
  color: var(--sub-font);
  font-size: var(--font13);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empty-year-subjects p {
  margin-bottom: 20px;
}

.add-subject-btn {
  width: 10%;
  min-width: 90px;
  height: 40px;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: 0.2s ease-out;
  background: #e5e7ee77;
  border-radius: 3px;
  color: var(--font);
  font-weight: 500;
}

.add-subject-btn-2 {
  width: 10%;
  min-width: 90px;
  height: 40px;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: 0.2s ease-out;
  background: var(--main);
  border-radius: 3px;
  color: white;
  font-weight: 500;
}

.add-subject-btn-2-opacity {
  width: 10%;
  min-width: 90px;
  height: 40px;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: 0.2s ease-out;
  background: var(--main);
  border-radius: 3px;
  color: white;
  font-weight: 500;
  opacity: 0.5;
  pointer-events: none;
}

.add-subject-btn:hover {
  transition: 0.2s ease-in;
  background: #e5e7ee;
}

.add-subject-btn-2:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

.add-subject-form-after {
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.2);
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
}

.add-subject-form-after-hidden {
  display: none;
}

.add-subject-form-after-header {
  width: 100%;
  height: 10vh;
  max-height: 60px;
  border-bottom: 1px var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font);
}

.add-subject-form-after-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.add-subject-div {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 300px;
  margin-bottom: 15px;
}

.add-subject-div label {
  font-weight: 500;
  font-size: var(--font13);
  color: #7a7a7a;
  margin-bottom: 5px;
}

.add-subject-div input {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border-style: none;
  outline-style: none;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

.add-subject-div textarea {
  width: 100%;
  height: 90px;
  resize: none;
  outline-style: none;
  border-style: none;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 2px;
}

.add-subject-div input:focus {
  border: 1px solid rgb(184, 198, 214);
}

.add-subject-div-submit {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  margin-top: 15px;
}

.add-subject-cancel-btn {
  width: 10%;
  min-width: 90px;
  height: 40px;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: 0.2s ease-out;
  background: rgb(229, 231, 238);
  border-radius: 3px;
  color: white;
  margin-right: 15px;
  color: var(--font);
  font-weight: 500;
}

.add-subject-cancel-btn:hover {
  transition: 0.2s ease-in;
  background: rgb(207, 208, 214);
  font-weight: 500;
}

.add-subject-form-status {
  width: 80%;
  height: auto;
  font-weight: 300;
  font-size: var(--font14);
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  border: 1px solid rgb(255, 207, 207);
  background: rgb(255, 228, 233);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
}

.add-subject-form-status-green {
  width: 80%;
  height: auto;
  font-weight: 300;
  font-size: var(--font14);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 126, 45);
  border: 1px solid rgb(170, 235, 182);
  background: rgb(232, 255, 233);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
}

.add-subject-form-status-hidden {
  display: none;
}

.successfully-added-subject {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Editing subjects */

.yearlist-body-wrapper {
  width: 100%;
  height: auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 80px;
}

.yearlist-body-wrapper-subject {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  font-size: var(--font14);
  color: var(--font);
  margin-bottom: 5px;
}

.add-subject-btn-front {
  width: 10%;
  min-width: 100px;
  height: 40px;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: 0.2s ease-out;
  background: #e5e7ee;
  border-radius: 3px;
  color: var(--font);
  font-weight: 500;
  position: absolute;
  bottom: 20px;
}

.add-subject-btn-front:hover {
  transition: 0.2s ease-in;
  background: rgb(207, 208, 214);
}
