.year-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  background: #f3f6f7;
  position: relative;
}

.year-wrapper-after {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 4;
}

.year-wrapper-form {
  width: 30%;
  height: 40%;
  background: rgb(255, 255, 255);
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.year-form-header {
  width: 100%;
  height: 15%;
  border-bottom: 1px var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font);
  position: relative;
  transition: 0.2s ease-out;
}

.year-form-body {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.year-content {
  width: 95%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.year-content-header {
  width: 95%;
  margin: 0 auto;
  min-height: 50px;
  display: flex;
  align-items: center;
  color: var(--font);
  justify-content: space-between;
  margin-bottom: 20px;
}

.year-content-body-empty {
  width: 95%;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font14);
  color: var(--sub-font);
  flex-direction: column;
}

.create-year i {
  margin-right: 5px;
}

.create-year {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sub-font);
  border-radius: 3px;
  font-weight: 500;
  font-size: var(--font15);
  cursor: pointer;
  transition: 0.2s ease-out;
  border: 1px var(--border);
}

.create-year:hover {
  transition: 0.2s ease-in;
  background: rgb(224, 226, 228);
}

.no-grade-level {
  width: 95%;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.no-grade-level p {
  margin-bottom: 20px;
  color: var(--sub-font);
  font-size: var(--font14);
}

.list-grade-level-header {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.list-grade-level-header p {
  margin-right: 5px;
}

.list-grade-level-header i {
  cursor: pointer;
}

.year-form-div {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.year-form-div label {
  font-weight: 500;
  font-size: var(--font13);
  color: #7a7a7a;
  margin-bottom: 5px;
}

.year-form-div select,
.year-form-div input {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(246, 248, 250);
  border: 1px solid rgb(230, 230, 236);
  padding-left: 10px;
  margin-top: 5px;
}

.year-form-div select:focus,
.year-form-div input:focus {
  border: 1px solid rgb(170, 183, 192);
}

.year-form-div-submit {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

.year-form-submit-submit {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: var(--main);
  border: 1px solid rgb(230, 230, 236);
  cursor: pointer;
  color: white;
  transition: 0.2s ease-out;
  margin-left: 15px;
}

.year-form-submit-cancel {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(229, 231, 238);
  border: 1px solid rgb(230, 230, 236);
  cursor: pointer;
  color: var(--font);
  transition: 0.2s ease-out;
}

.year-form-submit-cancel:hover {
  transition: 0.2s ease-in;
  background: rgb(207, 208, 214);
}

.year-form-submit-submit:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

.year-list-header {
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  color: var(--sub-font);
  border-radius: 2px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 5px solid #f3f6f7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: white;
  min-height: 50px;
}
.year-list-body {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  min-height: 30px;
  max-height: 50px;
  display: flex;
  font-size: var(--font13);
  position: relative;
  border-radius: 5px;
  color: var(--font);
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #f7f8fb;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  background: white;
}

.year-list-body:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px 0px rgba(75, 100, 116, 0.1);
  transition: 0.1s ease-in-out;
}

.year-id {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.year-content-header-header {
  width: 95%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: 50px;
  min-height: 40px;
}

.year-content-header-header div:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

.year-content-header-header div {
  width: 10%;
  min-width: 100px;
  height: 100%;
  background: #2ab56f;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font15);
  transition: 0.2s ease-out;
  font-weight: 500;
}

.year-list-wrapper {
  width: 95%;
  height: auto;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
  border-right: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
  border-left: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.year-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.year-action i {
  cursor: pointer;
  font-size: var(--font15);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-out;
  color: grey;
}

.year-action i:hover {
  color: #323b44;
  box-shadow: 0px 8px 30px 0px rgba(49, 68, 80, 0.2);
  transition: 0.1s ease-in;
}

.error-year-msg-red {
  width: 100%;
  height: auto;
  font-weight: 300;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font13);
  margin-bottom: 10px;
}

.error-year-msg-green {
  width: 100%;
  height: auto;
  font-weight: 300;
  color: rgb(30, 197, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font13);
  margin-bottom: 10px;
}
