.grades-wrapper {
  width: 100%;
  height: auto;
  display: flex;
}

.grades-content {
  width: 95%;
  height: 100vh;
  background: #f7f8fc;
  overflow-y: scroll;
}

.grades-content-header {
  width: 95%;
  height: 10vh;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.grades-content-body {
  width: 95%;
  height: auto;
  min-height: 200px;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.1);
  color: red;
}
