.userprofile-wrapper {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: flex;
}

.userprofile-content {
  width: 95%;
  height: 100vh;
  overflow-y: scroll;
  background: #f3f6f7;
}

.user-profile-content {
  margin: 0 auto;
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.user-profile-navigation {
  width: 25%;
  height: 20vh;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.2);
  max-height: 300px;
  min-height: 200px;
}

.user-student-navigation {
  width: 25%;
  height: 20vh;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.2);
  max-height: 300px;
  min-height: 200px;
}

.user-navigation-profile {
  width: 100%;
  height: 33.33%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  cursor: pointer;
  color: #bac1d1;
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

.user-navigation-profile-profile,
.user-navigation-profile-account,
.user-navigation-profile-advising,
.user-navigation-profile-grades {
  width: 100%;
  height: 33.33%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  cursor: pointer;
  color: #323b44;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: 0.1s ease-out;
  background: #f5f6fa;
}

.user-navigation-profile-profile i,
.user-navigation-profile-account i,
.user-navigation-profile-advising i,
.user-navigation-profile-grades i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

/* .user-navigation-profile i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
} */

.user-navigation-profile:hover {
  color: #323b44;
  transition: 0.1s ease-in;
  background: #f5f6fa;
}

.user-profile-content-actual {
  width: 73%;
  height: auto;
  min-height: 200px;
  background: white;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.1);
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(235, 235, 235);
}

.user-nav-wrapper {
  width: 100%;
  height: auto;
}

/*User Profile */
.user-nav-wrapper-header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  color: #323b44;
  justify-content: center;
  background: pink;
}

.user-nav-wrapper-profile-body {
  width: 100%;
  height: auto;
}

.user-nav-wrapper-sub-header {
  width: 100%;
  height: 80px;
  color: #323b44;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.user-nav-wrapper-sub-header-2 {
  width: 100%;
  height: 10vh;
  color: #323b44;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 50px;
}

.user-profile-photo {
  width: 100px;
  height: 100px;
  background: rgb(232, 233, 235);
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid rgb(206, 206, 206);
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.user-profile-photo img {
  width: 100%;
}

.user-profile-photo span {
  position: absolute;
  width: 30%;
  height: 30%;
  background: #0464fc;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: 0.2s ease-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.user-profile-photo span:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.update-user-profile {
  width: 55%;
  height: auto;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 25px;
}

.update-user-profile-submit {
  width: 75%;
  height: auto;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
  align-items: flex-end;
}

.update-user-profile-submit input {
  width: 100px;
  height: 45px;
  background: #2ab56f;
  color: white;
  border-style: none;
  outline-style: none;
  border-radius: 5px;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.update-user-profile input:focus,
.update-user-profile select:focus,
.update-user-profile textarea:focus {
  border: 1px solid rgb(184, 198, 214);
}

.update-user-profile-submit input:hover {
  background: #23975d;
  transition: 0.2s ease-in;
}

.update-user-profile label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #7a7a7a;
  font-weight: 500;
}

.update-user-profile input,
.update-user-profile select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  outline-style: none;
  background: rgb(244, 246, 248);
  border: 1px solid rgb(227, 230, 233);
  padding-left: 10px;
}

.update-user-profile textarea {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  border-style: none;
  outline-style: none;
  background: rgb(244, 246, 248);
  border: 1px solid rgb(227, 230, 233);
  padding: 5px 10px;
  resize: none;
}

.user-nav-account-body {
  width: 100%;
  height: 30vh;
}

.user-nav-wrapper-body {
  width: 100%;
  height: 45vh;
  position: relative;
}

.user-nav-account-body-form {
  width: 100%;
  height: 100%;
  padding-left: 5%;
}

.div {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}
.div-green {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  color: rgb(30, 197, 30);
  font-size: 15px;
}
.div-red {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  color: red;
  font-size: 15px;
}

.div input {
  width: 50%;
  height: 35px;
  border-style: none;
  outline-style: none;
  background: rgb(243, 245, 247);
  border: 1px solid rgb(230, 230, 236);
  border-radius: 3px;
  padding-left: 10px;
}

.div input:focus {
  border: 1px solid rgb(170, 183, 192);
}

.div label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #586674;
}

.div span {
  width: 21%;
  height: 50px;
  background: rgb(229, 231, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-out;
  color: #323b44;
}

.div span:hover {
  background: rgb(207, 208, 214);

  transition: 0.2s ease-in;
}

.user-nav-wrapper-form-after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5%;
}

.change-password-submit {
  display: flex;
}

.change-password-span1 {
  width: 11%;
  height: 40px;
  background: #2ab56f;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.change-password-span2 {
  width: 11%;
  height: 40px;
  background: rgb(229, 231, 238);
  border-radius: 5px;
  color: #323b44;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.change-password-span2:hover {
  background: rgb(207, 208, 214);

  transition: 0.2s ease-in;
}

.change-password-span1:hover {
  background: #23975d;

  transition: 0.2s ease-in;
}
