.announce-wrapper {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
}

.announce-content {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
