.dashboard-header {
  width: 100%;
  height: 10%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323b44;
  z-index: 2;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  box-shadow: 0px 8px 30px 0px rgba(82, 112, 131, 0.1);
  border-bottom: 1px solid rgb(235, 235, 235);
}
.dashboard-header-wrapper {
  width: 96%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: inherit;
}

.dashboard-header-wrapper img {
  width: 8%;
  margin-right: 5px;
}

.dashboard-spanner-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.dashboard-spanner-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dashboard-header-profile {
  width: 38px;
  height: 38px;
  background: #e8e9eb;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(206, 206, 206);
  color: white;
}

.dashboard-header-profile-name {
  font-size: 15px;
  display: flex;
  align-items: Center;
  margin-left: 10px;
  font-weight: 500;
  color: rgb(90, 90, 90);
}

.dashboard-header-profile-name i {
  font-size: 10px;
  margin-left: 5px;
}

.dashboard-admin-profile {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

.administrator-div-after-hidden {
  display: none;
}

.administrator-div-after {
  position: absolute;
  top: 100%;
  min-width: 275px;
  width: 200%;
  right: 0;
  height: 220%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 8px 20px 0px rgba(63, 61, 61, 0.2);
  z-index: 2;
  padding: 5px;
  justify-content: space-between;
}

.dashboard-profile-span2 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10%;
  font-size: 14px;
  transition: 0.2s ease-out;
  color: #323b44;
  font-weight: 500;
  position: relative;
}

.dashboard-profile-span1 {
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10%;
  font-size: 14px;
  transition: 0.2s ease-out;
  color: #323b44;
  font-weight: 500;
  position: relative;
}

.dashboard-profile-span1::after {
  width: 95%;
  height: 1%;
  top: 104%;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: lightgrey;
}

.dashboard-profile-span1 i,
.dashboard-profile-span2 i {
  margin-right: 10px;
  font-size: 16px;
}

.dashboard-profile-span1:hover,
.dashboard-profile-span2:hover {
  background: rgb(238, 238, 238);
  transition: 0.2s ease-in;
  color: rgb(58, 58, 58);
}

.dashboard-header-help {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgb(102, 102, 102);
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.dashboard-header-help:hover {
  text-decoration: underline;
}

.dashboard-header-help i {
  margin-right: 5px;
}

.middle-separator {
  width: 1px;
  height: 50%;
  border-radius: 100px;
  background: lightgrey;
  margin-left: 20px;
}
