.dashboard-header {
  width: 100%;
  height: 10%;
  min-height: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323b44;
  z-index: 2;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  box-shadow: 0px 8px 30px 0px rgba(82, 112, 131, 0.1);
  border-bottom: 1px solid rgb(235, 235, 235);
}
.dashboard-header-wrapper {
  width: 96%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: inherit;
}

.dashboard-header-wrapper img {
  width: 7%;
  margin-right: 5px;
}

.dashboard-spanner-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: var(--font16);
}

.dashboard-spanner-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.dashboard-header-profile1 {
  width: 35px;
  height: 35px;
  background: #e8e9eb;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(206, 206, 206);
  color: white;
}

.dashboard-header-profile2 {
  width: 45px;
  height: 45px;
  background: #e8e9eb;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(206, 206, 206);
  color: white;
}

.dashboard-header-profile-name {
  display: flex;
  align-items: Center;
  margin-left: 10px;
  font-weight: 500;
  color: var(--font);
  font-size: var(--font18);
}

.dashboard-admin-profile {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  border-radius: 100px;
  padding: 5px;
  transition: 0.2s ease-out;
  padding-right: 15px;
}

.dashboard-admin-profile:hover {
  transition: 0.2s ease-in;
  background: rgb(237, 240, 241);
}

.dashboard-admin-profile i {
  margin-left: 5px;
}

.administrator-div-after-hidden {
  display: none;
}

.administrator-div-after {
  position: absolute;
  top: 102%;
  min-width: 255px;
  width: 30%;
  right: 0;
  height: 260%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 8px 20px 0px rgba(63, 61, 61, 0.2);
  z-index: 2;
  padding: 5px;
  justify-content: space-between;
}

.dashboard-profile-span2 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10%;
  font-size: var(--font15);
  transition: 0.2s ease-out;
  color: #323b44;
  position: relative;
  cursor: pointer;
}

.dashboard-profile-span1 {
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10%;
  font-size: var(--font16);
  transition: 0.2s ease-out;
  color: #323b44;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.dashboard-profile-name-wrapper1 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.dashboard-profile-name-wrapper2 {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dashboard-profile-span1::after {
  width: 95%;
  height: 1%;
  top: 104%;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(233, 233, 233);
}

.view-profile {
  font-size: var(--font13);
  font-weight: 400;
  color: var(--sub-font);
}

.dashboard-profile-span1 p {
  display: flex;
  align-items: center;
}

.dashboard-profile-span1 p div {
  margin-right: 15px;
}

.dashboard-profile-span2 i {
  margin-right: 10px;
  font-size: var(--font16);
}

.dashboard-profile-span1:hover,
.dashboard-profile-span2:hover {
  background: rgb(237, 240, 241);
  transition: 0.2s ease-in;
  color: rgb(58, 58, 58);
}
