.actual-activity-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background: #f3f6f7;
}

.actual-activity-wrapper-after {
  width: 20%;
  height: 10%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font13);
  min-width: 275px;
  min-height: 50px;
  max-height: 50px;
  opacity: 0.95;
  transition: 0.1s ease-out;
  font-weight: 300;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.actual-activity-content {
  width: 95%;
  height: 100vh;
  background: #f3f6f7;
  overflow-y: scroll;
}

.actual-activity-header {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.go-back-btn {
  cursor: pointer;
  color: var(--font);
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: 0.2s ease-out;
  text-decoration: none;
}
.go-back-btn:hover {
  background: rgb(226, 226, 226);
  transition: 0.2s ease-in;
}

.go-back-btn i {
  margin-right: 5px;
}
.actual-activity-body {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.actual-activity-student-body {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.actual-activity-body-left span,
.actual-activity-student-body-left span {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: var(--font14);
  color: var(--font);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actual-activity-body-left {
  width: 65%;
  height: auto;
  padding: 25px;
  position: relative;
  background: white;
  border-radius: 5px;
  border: 1px var(--border);
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
}

.actual-activity-student-body-left {
  width: 65%;
  height: auto;
  padding: 25px;
  position: relative;
  background: white;
  border-radius: 5px;
  border: 1px var(--border);
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
  margin-bottom: 30px;
}

.actual-activity-body-left-footers {
  width: 30%;
  height: auto;
  padding: 25px;
  position: relative;
  background: white;
  border-radius: 5px;
  border: 1px var(--border);
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
  margin-bottom: 20px;
  max-height: 240px;
}

.add-your-work-header {
  margin-bottom: 30px;
  color: var(--font);
}

.actual-activity-body-left-header {
  margin-bottom: 30px;
}

.actual-activity-body-left-header h3 {
  color: var(--font);
}

.actual-activity-body-left-header p {
  color: var(--sub-font);
  font-size: var(--font12);
}

.actual-activity-body-left-body {
  width: 100%;
  height: auto;
  font-size: var(--font14);
  color: var(--font);
  white-space: pre-wrap;
  margin-bottom: 15px;
}

.actual-activity-body-left-attach {
  width: 100%;
  height: auto;
  font-size: var(--font13);
  color: var(--font);
  margin-bottom: 5px;
  font-weight: 400;
  color: var(--sub-font);
  position: relative;
}

.actual-activity-body-left-attach-after {
  background: 40px;
  position: absolute;
  height: 100%;
  right: 0px;
  top: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 10px;
  font-size: var(--font13);
  color: var(--sub-font);
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.actual-activity-body-left-attach-after i {
  margin-left: 5px;
}

.actual-activity-body-left-attach-after:hover {
  transition: 0.2s ease-in;
  background: rgb(236, 236, 236);
}

.actual-activity-body-left-submit-btn {
  width: 100%;
  height: 40px;
  outline-style: none;
  border-style: none;
  background: var(--main);
  color: white;
  border-radius: 3px;
  transition: 0.2s ease-out;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--font16);
  margin-top: 20px;
}

.actual-activity-body-left-submit-btn:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

.actual-activity-body-left-mywork {
  width: 100%;
  height: auto;
  font-size: var(--font13);
  color: var(--font);
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--sub-font);
}

.actual-activity-body-left-mywork p {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.actual-activity-body-left-mywork input {
  position: absolute;
  left: 0;
  opacity: 0;
}

.actual-activity-body-left-footer {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: var(--font14);
  padding: 0px 10px;
  justify-content: space-between;
  color: var(--font);
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.actual-activity-body-left-footer p {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.material-document {
  color: var(--sub-font);
  margin-right: 5px;
}

.actual-activity-body-left-footer div {
  padding: 0px 10px;
  height: 80%;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 3px;
  font-size: var(--font14);
  font-weight: 500;
  transition: 0.2s ease-out;
  border: 1px solid rgba(211, 211, 211, 0);
  cursor: pointer;
}

.actual-activity-body-left-footer div i {
  margin-left: 10px;
}

.actual-activity-body-left-footer div:hover {
  transition: 0.2s ease-in;
  background: rgb(236, 236, 236);
  border: 1px solid rgb(226, 226, 226);
}

.actual-activity-body-right {
  background: white;
  border-radius: 10px;
  border: 1px var(--border);
  width: 20%;
  height: 200px;
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
  padding: 25px;
}

.activity-done {
  color: var(--font);
  font-size: var(--font15);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.activity-done p {
  font-weight: 500;
}

.activity-done span {
  padding: 5px 8px;
  border-radius: 2px;
  color: var(--font);
  cursor: pointer;
  transition: 0.2s ease-out;
  font-size: var(--font13);
  margin-left: 5px;
  background: rgb(235, 235, 235);
  transition: 0.1s ease-out;
}

.activity-done span:hover {
  background: rgb(221, 221, 221);
  transition: 0.1s ease-in;
}

.activity-turned-in {
  color: var(--font);
  font-size: var(--font15);
  display: flex;
  margin-bottom: 10px;
}

.activity-turned-in p {
  font-weight: 500;
  margin-right: 5px;
}

@media screen and (max-width: 982px) {
  .actual-activity-body,
  .actual-activity-student-body {
    flex-direction: column;
  }

  .actual-activity-body-right {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .actual-activity-body-left,
  .actual-activity-student-body-left {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    min-height: 200px;
  }

  .actual-activity-body-left-footers {
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    height: auto;
  }
}
