.subject-wrapper {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: flex;
  position: relative;
}

.subject-wrapper-active {
  width: 100%;
  height: 100%;
  background: #00000079;
  display: flex;
  position: relative;
  z-index: 2;
  position: absolute;
}

.add-subject-form {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 15px;
  background: white;
}

.subject-content {
  width: 95%;
  height: 100vh;
  overflow-y: scroll;
}

.subject-content-body {
  width: 100%;
  height: 90%;
}

.subject-content-body-header {
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 22px;
  color: #323b44;
  margin-bottom: 10px;
}

.subject-content-body-body {
  width: 95%;
  height: auto;
  margin: 0 auto;
  background: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.1);
}

.subject-content-body-body-header {
  width: 95%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.subject-content-search {
  width: 40%;
  height: 45%;
  border-style: none;
  outline-style: none;
  border-radius: 500px;
  border: 1px solid rgb(226, 226, 226);
  background: #f7f9fc;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
}

.add-subject-span {
  width: 11%;
  min-width: 125px;
  height: 55%;
  background: #3b65ef;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-out;
  font-weight: 500;
}

.add-subject-span i {
  font-size: 13px;
  margin-right: 5px;
}

.add-subject-span:hover {
  background: #3458ce;
  color: white;
  transition: 0.2s ease-in;
}

.subject-lists-header {
  width: 95%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 15px;
  color: #323b44;
  border-radius: 2px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.subject-lists-code,
.subject-lists-name,
.subject-lists-capacity,
.subject-lists-action {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.subject-lists-code-span,
.subject-lists-name-span,
.subject-lists-capacity-span,
.subject-lists-action-span {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.subject-lists-empty {
  width: 95%;
  margin: 0 auto;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
}

.subject-lists-empty::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "There is currently no subject.";
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.subject-lists-wrapper {
  width: 95%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 0 auto;
}

.add-subject-form-header {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #323b44;
}

.add-subject-form-error {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.add-subject-form-error-green {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  color: rgb(29, 167, 29);
  font-size: 15px;
}

.add-subject-form-error-red {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  color: rgb(219, 22, 22);
  font-size: 15px;
}

.add-subject-form-body {
  width: 100%;
  height: 80%;
}

.add-subject-input {
  width: 85%;
  height: 9%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}

.add-subject-submit {
  width: 85%;
  height: 10%;
  display: flex;
  margin: 0 auto;
  border-style: none;
  outline-style: none;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 0px;
  background: #4ac49e;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-bottom: 13px;
}

.add-subject-submit:hover {
  background: #3ca080;
  transition: 0.2s ease-in;
}

.add-subject-cancel {
  width: 85%;
  height: 10%;
  display: flex;
  margin: 0 auto;
  border-style: none;
  outline-style: none;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 0px;
  background: rgb(233, 233, 233);
  color: #868686;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-bottom: 10px;
}

.add-subject-cancel:hover {
  background: rgb(218, 218, 218);
  transition: 0.2s ease-in;
}

.subject-form-exit:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in;
}

.add-subject-left {
  width: 25%;
  height: 100%;
  font-size: 14px;
  color: rgb(90, 90, 90);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-subject-left-textarea {
  width: 25%;
  height: 50%;
  font-size: 14px;
  color: rgb(90, 90, 90);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-subject-right {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.add-subject-textarea {
  width: 85%;
  height: 18%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}

.add-subject-right input,
.add-subject-right select,
.add-subject-right textarea {
  width: 90%;
  height: 100%;
  resize: none;
  border-style: none;
  outline-style: none;
  border: 1px solid rgb(226, 226, 226);
  background: #f7f9fc;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}
