.teacher-class-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background: #f3f6f7;
}

.teacher-class-wrapper-after {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.class-content {
  width: 95%;
  height: 100vh;
  background: #f3f6f7;
  overflow-y: scroll;
}

.class-content-header {
  width: 95%;
  height: 40vh;
  margin: 0 auto;
  margin-bottom: 40px;
  min-height: 200px;
  max-height: 300px;
}
.class-content-upper-header {
  width: 100%;
  height: 80%;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url("./bg.png");
  background-size: cover;
  position: relative;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px rgb(82, 82, 82);
}

.class-content-lower-header {
  width: 100%;
  height: 50px;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-end;
  background: white;
}

.nav-span-diactive {
  color: var(--font);
  text-decoration: none;
  margin-left: 20px;
  font-size: var(--font15);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  opacity: 0.5;
  height: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: 0.1s ease-out;
}

.nav-span-diactive:hover {
  color: #323b44;
  display: flex;
  align-items: center;
  transition: 0.1s ease-in;
  border-bottom: 2px solid var(--main-hover);
}

.nav-span-active {
  color: var(--main-hover);
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--main-hover);
  transition: 0.1s ease-out;
  margin-top: 2px;
  text-decoration: none;
  margin-left: 20px;
  font-size: var(--font15);
  font-weight: 500;
}

.class-content-header p {
  font-size: 18px;
}

.class-content-body {
  width: 95%;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 10px;
}

.class-content-body-left {
  width: 30%;
  height: 30vh;
  border-radius: 5px;
  border: 1px var(--border);
  background: white;
  position: relative;
}

.class-content-body-left-header {
  width: 100%;
  height: 20%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-bottom: 1px var(--border);
  color: #323b44;
}

.class-content-body-left-body {
  width: 100%;
  height: 80%;
  font-size: 16px;
  display: flex;
  font-weight: 500;
  color: #323b44;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.view-all-link {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-weight: 300;
  font-size: var(--font13);
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: var(--main);
  padding: 5px 10px;
  border-radius: 100px;
  transition: 0.2s ease-out;
}

.view-all-link:hover {
  background: var(--main-hover);
  transition: 0.2s ease-in;
}

.link {
  text-decoration: none;
  font-size: var(--font15);
  color: var(--sub-font);
  font-weight: 400;
  margin-bottom: 3px;
}

.link:hover {
  text-decoration: underline;
}

.class-content-body-left-body p {
  font-size: var(--font13);
  color: var(--sub-font);
  font-weight: 300;
  margin-bottom: 10px;
}

.class-content-body-left-body span {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-size: var(--font13);
  color: var(--sub-font);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.class-content-body-left-body span i {
  margin-right: 5px;
}

.class-content-body-left-body span:hover {
  background: rgb(224, 227, 228);
  transition: 0.2s ease-in;
}

.class-content-body-right {
  width: 68%;
  height: auto;
}

/*Class*/
.classes-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column-reverse;
}

.classes-wrapper span {
  color: var(--sub-font);
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-something {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px var(--border);
  box-shadow: 0px 5px 10px 0px rgba(63, 87, 102, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
}

.create-something-header {
  width: 100%;
  height: 60px;
  border-bottom: 1px var(--border);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: var(--font);
  font-size: var(--font17);
  font-weight: 500;
  margin-bottom: 20px;
}

.create-something-body {
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.create-something-body-wrapper {
  width: 100%;
  height: 100%;
}

.post-to {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post-to-div i {
  margin-left: 5px;
}

.post-to-div-after-item {
  width: 100%;
  height: 30px;
  font-size: var(--font13);
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 400;
  transition: 0.1s ease-out;
}

.post-to-div-after-item:hover {
  transition: 0.1s ease-in;
  background: rgb(243, 242, 242);
}

.post-to-div {
  color: var(--font);
  width: auto;
  height: 35px;
  padding: 0px 15px;
  display: flex;
  font-size: var(--font13);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 5px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  cursor: pointer;
  transition: 0.2s ease-out;
  position: relative;
}

.post-to-div-after {
  position: absolute;
  right: 0;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: white;
  top: 110%;
  height: auto;
  z-index: 3;
}

.post-to-div:hover {
  background: rgb(243, 242, 242);
  transition: 0.2s ease-in;
}

.create-something-left div {
  width: 45px;
  height: 45px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  background: #e8e9eb;
  margin-right: 15px;
}

.create-something-input {
  width: 100%;
  height: 45px;
  outline-style: none;
  border-style: none;
  background: #f5f5f5;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 12px;
  color: var(--sub-font);
  font-size: 0.85rem;
  transition: 0.2s ease-out;
  border: 1px solid rgb(221, 221, 221);
  resize: none;
  overflow-y: hidden;
}

.create-something-file {
  width: 100%;
  height: auto;
}

.create-something-textarea {
  width: 100%;
  height: 20vh;
  outline-style: none;
  border-style: none;
  background: #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 15px;
  color: var(--font);
  font-size: 0.85rem;
  transition: 0.1s ease-out;
  border: 1px solid rgb(221, 221, 221);
  resize: none;
  margin-bottom: 20px;
}

.create-something-textarea:focus {
  transition: 0.1s ease-in;
  border: 1px solid rgb(161, 168, 173);
}

.write-btns-div {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.write-btns-div-hidden {
  display: none;
}

.write-post-btn {
  width: 90px;
  height: 100%;
  border-style: none;
  outline-style: none;
  color: white;
  background: var(--main);
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 3px;
  margin-left: 15px;
}

.write-post-btn:hover {
  transition: 0.2s ease-out;
  background: var(--main-hover);
}

.write-post-btn-opacity {
  width: 90px;
  height: 100%;
  border-style: none;
  outline-style: none;
  color: white;
  background: var(--main);
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 3px;
  margin-left: 15px;
  opacity: 0.5;
  pointer-events: none;
}

.write-cancel-btn {
  width: 90px;
  height: 100%;
  border-style: none;
  outline-style: none;
  color: var(--font);
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 3px;
}

.write-cancel-btn:hover {
  transition: 0.2s ease-in;
  background: rgb(221, 221, 221);
}

.create-stream-post {
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 4;
  display: flex;
}

.create-stream-post-hidden {
  display: none;
}

.create-stream-post-nav {
  width: 20%;
  height: 100%;
  background: rgba(231, 231, 231, 0.466);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: var(--font15);
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.create-stream-post-nav-header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.create-stream-post-nav-header span {
  padding: 10px 15px;
  transition: 0.2s ease-out;
  border-radius: 3px;
  cursor: pointer;
  color: var(--font);
}

.create-stream-post-nav-header span:hover {
  background: rgb(208, 212, 214);
  transition: 0.2s ease-in;
}

.create-stream-post-nav span i {
  margin-right: 5px;
  font-size: var(--font15);
}

.create-stream-post-nav select {
  cursor: pointer;
  background: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border-bottom: 1px solid var(--sub-font);
}

.create-stream-post-nav select option {
  width: 100%;
  height: 200px;
}

.create-stream-right {
  width: 80%;
  height: 100%;
}

.create-stream-post-header {
  width: 100%;
  height: 10vh;
  max-height: 60px;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font);
}

.create-stream-post-body {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.create-stream-post-div-wrapper {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.create-stream-post-div0 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.create-stream-post-div-points {
  width: 5%;
  display: flex;
  height: auto;
  justify-content: space-between;
  min-width: 65px;
}

#create-stream-post-div-points-input {
  width: 100%;
  height: 40px;
  border-radius: 0px;
  border-style: none;
  outline-style: none;
  background: white;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.create-stream-post-div1 {
  width: 47.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.create-stream-post-div2 {
  width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.create-stream-post-div3 {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.create-stream-post-div3 label {
  font-size: var(--font13);
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 5px;
  pointer-events: none;
}

.create-stream-post-div3 input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(246, 248, 250);
  border: 1px solid rgb(230, 230, 236);
  padding-left: 10px;
  padding-right: 5px;
}

.create-stream-post-div1 label,
.create-stream-post-div2 label,
.create-stream-post-div0 label {
  font-size: var(--font13);
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 5px;
}

.create-stream-post-div1 select,
.create-stream-post-div2 select,
.create-stream-post-div1 input,
.create-stream-post-div2 input,
.create-stream-post-div0 input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(255, 255, 255);
  border: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 5px;
}

.create-stream-post-div {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.create-stream-post-div label {
  font-size: var(--font13);
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 5px;
}

.create-stream-post-div textarea {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(246, 248, 250);
  padding: 10px;
  resize: none;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.create-stream-post-div textarea:focus {
  border-bottom: 1px solid var(--font);
  transition: 0.1s ease-in;
}

.create-stream-post-div div {
  width: 100%;
  height: 60px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: none;
}

.create-stream-post-divss {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  margin-top: 15px;
}

.stream-post-submit-btn {
  width: 20%;
  max-width: 100px;
  height: 40px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: var(--main);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.stream-post-submit-btn:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

/* Upload file input */

.create-stream-post-divs span i {
  margin-right: 5px;
}

.create-stream-post-divs span:hover {
  transition: 0.2s ease-in;
  background: rgb(240, 242, 243);
}

.quiz-form-div {
  width: 90%;
  height: auto;
  min-height: 100px;
  background: rgb(255, 255, 255);
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 10px 0px rgba(102, 102, 102, 0.1);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-form-div-header {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  color: var(--font);
  flex-direction: column;
}

.quiz-form-div-body {
  width: 90%;
  height: auto;
}

.quiz-form-div-questions {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.quiz-form-div-answer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.quiz-form-div-answer label {
  font-size: var(--font13);
  font-weight: 500;
  color: #7a7a7a;
  margin-right: 5px;
}

.quiz-form-div-questions-submit {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: flex-end;
}

.quiz-form-div-questions-submit input {
  width: 20%;
  max-width: 100px;
  height: 35px;
  outline-style: none;
  border-style: none;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s ease-out;
}

.quiz-form-div-questions-submit input:hover {
  background: lightgrey;
  transition: 0.2s ease-in;
}

.quiz-form-div-questions label {
  font-size: var(--font13);
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 5px;
}

.quiz-form-div-questions input,
.quiz-form-div-questions select {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(246, 248, 250);
  border: 1px solid rgb(230, 230, 236);
  padding-left: 10px;
  padding-right: 5px;
}

.quiz-form-div-answer input {
  width: 100%;
  min-width: 130px;
  height: 35px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.quiz-form-div-answer textarea {
  width: 100%;
  height: 75px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(246, 248, 250);
  padding: 10px;
  resize: none;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.post-msg {
  width: 20%;
  height: 10%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font13);
  min-width: 275px;
  min-height: 50px;
  max-height: 50px;
  opacity: 0.95;
  transition: 0.1s ease-out;
  font-weight: 300;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.post-err-msg {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-weight: 300;
  padding: 20px 0px;
  font-size: var(--font14);
}

.post-msg-hidden {
  display: none;
}

.post-msg span {
  color: rgb(62, 152, 255);
  font-weight: 300;
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
  font-size: var(--font14);
}

/* Posting of posts */
.class-posts {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
  border-radius: 10px;
  border: 1px var(--border);
  background: rgb(255, 255, 255);
  white-space: pre-wrap;
}

.class-posts-header {
  width: 100%;
  height: 10vh;
  max-height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: var(--font);
  border-bottom: 1px var(--border);
}

.class-posts-body {
  width: 100%;
  height: auto;
  min-height: 150px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
}

.class-posts-body-header {
  width: 100%;
  height: auto;
  min-height: 40px;
  display: flex;
  max-height: 70px;
  padding: 10px 0px;
}

.class-posts-body-header-left {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e8e9eb;
  border: 1px solid lightgrey;
  overflow: hidden;
}

.class-posts-body-header-left img {
  width: 100%;
}

.class-posts-body-header-right {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.class-posts-body-header-right h5 {
  color: var(--font);
  font-size: var(--font14);
  font-weight: 500;
}

.class-posts-body-header-right p {
  font-size: var(--font12);
  color: var(--sub-font);
  font-weight: 300;
}

.class-posts-body-body {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  padding-top: 40px;
  font-size: var(--font14);
  color: var(--font);
  font-weight: 400;
}

.class-posts-body-comment {
  width: 100%;
  height: auto;
  border-top: 1px var(--border);
  position: relative;
}

.class-posts-body-comment-upper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  height: 10vh;
  max-height: 65px;
  min-height: 50px;
  margin-bottom: 10px;
}

.class-posts-body-comment-lower {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.class-posts-body-comment-user {
  width: auto;
  height: auto;
  background: #f5f5f5;
  margin-left: 10px;
  border-radius: 10px;
  font-size: var(--font14);
  color: var(--font);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.class-posts-body-comment-user h5 {
  font-weight: 500;
  font-size: var(--font14);
}

.class-posts-body-comment-user p {
  font-size: var(--font13);
}

.class-posts-body-comment-lower-hidden {
  display: none;
}

.commentBtn {
  width: 100%;
  height: 65%;
  border-radius: 100px;
  outline-style: none;
  border-style: none;
  border: 1px solid rgb(221, 221, 221);
  padding-left: 10px;
  font-size: var(--font13);
  margin-left: 10px;
  padding-right: 50px;
  background: #f5f5f5;
}

.commentBtn:focus {
  border: 1px solid rgb(161, 168, 173);
  transition: 0.1s ease-in;
}

.comment-submit-btn {
  cursor: pointer;
  height: 65%;
  border-radius: 3px;
  background: var(--main);
  outline-style: none;
  border-style: none;
  color: white;
  width: auto;
  padding: 0px 10px;
  font-size: var(--font12);
  margin-left: 10px;
  transition: 0.2s ease-out;
}

.comment-submit-btn:hover {
  background: var(--main-hover);
  transition: 0.2s ease-in;
}

.class-posts-body-comment span {
  position: absolute;
  color: var(--sub-font);
  cursor: pointer;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: pink;
  top: 50%;
}

.actual-activity-body-left-footer span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: var(--font15);
  color: var(--sub-font);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.tags {
  padding: 2px 5px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  font-size: var(--font12);
  margin-top: 5px;
  color: var(--font);
}

.actual-activity-body-left-footer span:hover {
  transition: 0.2s ease-in;
  background: #eee;
}

@media screen and (max-width: 500px) {
  .class-content-header {
    height: 175px;
    min-height: 0;
  }

  .class-content-lower-header {
    height: 40px;
  }
}
