.my404component {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorcomponent-wrapper {
  width: 50%;
  height: 50%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorcomponent-wrapper img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error404message {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
