.usersprofile-wrapper {
  width: 100% auto;
  height: 100vh;
  display: flex;
}

.usersprofile-content {
  width: 95%;
  height: 100%;
  background: #f6fbff;
}

.usersprofile-actual {
  width: 96%;
  height: 89%;
  margin: 0 auto;
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
  background: pink;
}
