.users-wrapper {
  width: 100%;
  height: 100vh;
  background: #f6fbff;
  display: flex;
}

.users-content {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.users-actual {
  width: 96%;
  height: 89%;
  margin: 0 auto;
  background: #f6fbff;
}

.user-actual-sort {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.user-actual-sort-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.actual-filter {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: grey;
  height: 75%;
}
.user-actual-search-input {
  width: 60%;
  height: 75%;
  border-radius: 500px;
  border: 1px solid rgb(235, 240, 240);
  outline-style: none;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 13px;
  background: rgb(255, 255, 255);
  margin-right: 20px;
}

.user-actual-search-input:focus {
  border: 1px solid #2ea66c5e;
}

.user-actual-link-create {
  width: 11%;
  height: 85%;
  background: #2ea66b;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-out;
  text-decoration: none;
  box-shadow: 0px 8px 30px 0px rgba(53, 79, 95, 0.3);
}

.user-actual-link-create i {
  font-size: 12px;
  margin-right: 5px;
}

.user-actual-link-create:hover {
  background: #268a5a;
  transition: 0.2s ease-in;
}

.user-actual-navigation {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.student-teacher-nav {
  width: 20%;
  height: 100%;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 8px 30px 0px rgba(65, 95, 114, 0.1);
  border-radius: 8px;
}

.student-nav-span {
  cursor: pointer;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 2px;
  justify-content: center;
  color: rgb(187, 187, 187);
  font-weight: 500;
}

.student-nav-span-active {
  cursor: pointer;
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #2ea66b;
  justify-content: center;
  color: #2ea66b;
  font-weight: 500;
}

.teacher-nav-span-active {
  cursor: pointer;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #2ea66b;
  margin-top: 2px;
  justify-content: center;
  color: #2ea66b;
  font-weight: 500;
}

.teacher-nav-span {
  cursor: pointer;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 2px;
  justify-content: center;
  color: rgb(187, 187, 187);
  font-weight: 500;
}

.user-actual-userlist {
  width: 100%;
  height: 130%;
  border-radius: 15px;
  position: relative;
  background: white;
}

.user-actual-prev-next {
  width: 100%;
  height: 10%;
  background: rgba(255, 192, 203, 0.219);
  position: absolute;
  bottom: 0;
  left: 0;
}

/*User lists separate page */
.user-studentlist-separate {
  width: 100%;
  height: 100%;
  box-shadow: 0px 8px 30px 0px rgba(53, 79, 95, 0.2);
  border-radius: 15px;
  background: white;
}

.user-studentlist-header {
  width: 100%;
  height: 10%;
  display: flex;
  font-weight: 500;
  font-size: 15px;
  border-radius: 3px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: white;
}

.studentlist-header-number {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.studentlist-header-number-span {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.studentlist-header-action-span {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4e5c69;
  transition: 0.1s ease-out;
}

.studentlist-header-action-span:hover {
  color: grey;
  transition: 0.1s ease-in;
}

.studentlist-header-action-menu i,
.studentlist-header-action-span {
  font-size: 14px;
  text-decoration: none;
}

.studentlist-header-id,
.studentlist-header-gender,
.studentlist-header-grade {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  color: grey;
  padding-left: 20px;
}

.studentlist-header-action {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  color: grey;
  padding-left: 20px;
}

.studentlist-header-name {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  color: grey;
  padding-left: 20px;
}

.studentlist-header-id-span,
.studentlist-header-gender-span,
.studentlist-header-grade-span {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
  color: #4e5c69;
  font-size: 15px;
}

.studentlist-header-id-span {
  color: #4e5c69;
}

.studentlist-header-id-span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.studentlist-header-name-span {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
  color: #4e5c69;
  font-size: 15px;
}

.user-studentlist-body {
  width: 100%;
  height: 87%;
}

.user-studentlist-body-wrapper {
  width: 100%;
  height: 9%;
  display: flex;
  font-size: 16px;
  color: #4e5c69;
  background: white;
  border-radius: 5px;
  justify-content: space-between;
}
