.create-user-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #f6fbff;
}

.create-user-content {
  width: 95%;
  height: 100%;
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-user-actual {
  width: 96%;
  height: 89%;
  margin: 0 auto;
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
}

.create-user-actual-left {
  width: 18%;
  height: 25%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  background: #ecf1f5;
  align-items: center;
  justify-content: center;
}

.create-student-button {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: lightgrey;
}

.create-student-button-active {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #2ea66b;
  color: white;
  border-radius: 5px;
  position: relative;
}

.create-student-button-active::after {
  width: 2%;
  height: 50%;
  content: "";
  position: absolute;
  right: 5%;
  border-radius: 100px;
  background: #ffffff;
}

.create-teacher-button {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: lightgrey;
}

.create-teacher-button-active {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #2ea66b;
  color: white;
  border-radius: 5px;
  position: relative;
}

.create-teacher-button-active::after {
  width: 2%;
  height: 50%;
  content: "";
  position: absolute;
  right: 5%;
  border-radius: 100px;
  background: #ffffff;
}

.create-user-actual-right {
  width: 80%;
  height: 98%;
  background: white;
  border: 1px solid rgb(235, 240, 240);
  border-radius: 5px;
  box-shadow: 0px 8px 30px 0px rgba(69, 102, 122, 0.1);
}

.create-user-error-msg {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #42495b;
}

.create-user-error-msg {
  font-size: 18px;
  font-weight: 500;
}

.create-user-form {
  width: 100%;
  height: 80%;
  display: flex;
}

.create-user-form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
}

.type-of-user {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.type-of-user label {
  margin-bottom: 6px;
  font-size: 13px;
  color: grey;
}

.type-of-user input,
.type-of-user select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline-style: none;
  border-style: none;
  border: 1px solid rgb(228, 233, 235);
  padding-left: 10px;
  background: #f7f9fc;
}

.type-of-user input:focus {
  border: 1px solid rgb(194, 202, 206);
}

.right-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.submit-button {
  width: 75%;
  height: 40px;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

#reset-button {
  width: 30%;
  height: 100%;
  background: rgb(233, 233, 233);
  outline-style: none;
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
  color: #868686;
}

#submit-button {
  width: 30%;
  height: 100%;
  background: #2a6ff4;
  outline-style: none;
  border-radius: 3px;
  border-style: none;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

.user-actual-error {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: rgb(29, 167, 29);
}

.user-actual-error-red {
  color: rgb(219, 22, 22);
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.hidinger {
  height: 5%;
}
