.create-user-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  background: #f3f6f7;
}

.create-user-content {
  width: 95%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.create-user-content-header {
  width: 95%;
  height: 9vh;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.create-user-content-header-wrapper {
  width: 18%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  background: rgb(229, 234, 236);
  border-radius: 500px;
  border: 3px solid rgb(229, 234, 236);
  min-height: 50px;
  min-width: 200px;
}

.create-teacher-btn,
.create-student-btn {
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2ab56f;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease-out;
  border-radius: 400px;
}

.create-btn-diactive {
  width: 50%;
  height: 100%;
  background: rgb(229, 234, 236);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a4adb6;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease-out;
  border-radius: 400px;
}

.create-user-content-body {
  width: 95%;
  min-height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/*Children Component */
.user-wrapper {
  width: 60%;
  height: auto;
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.1);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}

.user-wrapper div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 25px;
}

.user-wrapper span {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 25px;
  align-items: flex-end;
}

.user-wrapper input {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border-style: none;
  outline-style: none;
  background: rgb(244, 246, 248);
  border: 1px solid rgb(227, 230, 233);
  padding-left: 10px;
}

.user-wrapper div span {
  color: rgb(221, 53, 53);
  background: pink;
}
.user-wrapper div select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  outline-style: none;
  background: rgb(244, 246, 248);
  border: 1px solid rgb(227, 230, 233);
  padding-left: 10px;
  padding-right: 10px;
}

.user-wrapper div input:focus,
.user-wrapper div select:focus {
  border: 1px solid rgb(184, 198, 214);
}

.user-wrapper div label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #7a7a7a;
  font-weight: 500;
}

#submit-btn {
  width: 20%;
  height: 45px;
  background: #2ab56f;
  outline-style: none;
  border-style: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-out;
  font-weight: 500;
  padding: 0;
}

#submit-btn:hover {
  background: #23975d;
  transition: 0.2s ease-in;
}

.error-prompt {
  width: 85%;
  margin: 0 auto;
  height: 0vh;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  display: none;
}

.error-prompt-green {
  color: rgb(17, 172, 17);
  width: 85%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: sticky;
  top: 0;
  background: #26ce821c;
}

.error-prompt-red {
  color: red;
  width: 85%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: sticky;
  top: 0;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 3px;
  flex-direction: row;
}

.create-student-info {
  width: 37%;
  min-height: 50px;
}

.student-personal-information {
  margin-top: 30px;
  color: #323b44;
}

.student-account-information {
  color: #323b44;
}

.create-student-info1 {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.create-student-info1-img {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-student-info1-img div {
  width: 55px;
  height: 55px;
  border: 1px solid #7a7a7a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7a7a7a;
  font-size: 1rem;
}

.create-student-info1-msg {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #7a7a7a;
}
