.subject-content-body {
  width: 95%;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subject-content-body-left {
  width: 20%;
  height: 15vh;
  background: rgb(255, 255, 255);
  border: 1px var(--border);
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
  min-height: 100px;
  min-width: 150px;
  padding: 3px;
}

.subject-content-body-left1 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  font-size: var(--font14);
  color: var(--font);
  font-weight: 500;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.2s ease-out;
}

.subject-content-body-left1-active {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  font-size: var(--font14);
  color: var(--font);
  font-weight: 500;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.2s ease-out;
  background: #eaeaeb;
}
.subject-content-body-left2-active {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  font-size: var(--font14);
  color: var(--font);
  font-weight: 500;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease-out;
  background: #eaeaeb;
}

.subject-content-body-left1:hover,
.subject-content-body-left2:hover {
  background: #eaeaeb;
  transition: 0.2s ease-in;
}

.subject-content-body-left2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  font-size: var(--font14);
  color: var(--font);
  font-weight: 500;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease-out;
}

.subject-content-body-right {
  width: 100%;
  height: auto;
  /* background: rgb(255, 255, 255); */
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
  border-radius: 10px;
}

.subject-content-body-right-header {
  width: 100%;
  height: 10vh;
  max-height: 60px;
  min-height: 50px;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px var(--border);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  color: var(--font);
  border: 1px var(--border);
  font-weight: 500;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  position: relative;
  justify-content: space-between;
}

.subject-content-body-right-header-nav {
  width: auto;
  height: 100%;
  display: flex;
  font-size: var(--font15);
  align-items: center;
  font-weight: 500;
}

.subject-content-body-right-header-nav-link-active {
  margin-left: 30px;
  text-decoration: none;
  color: var(--font);
  margin-bottom: -3px;
  border-bottom: 2px solid var(--main);
  height: 100%;
  display: flex;
  align-items: center;
}

.subject-content-body-right-header-nav-link-inactive {
  margin-left: 30px;
  text-decoration: none;
  color: var(--font);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  height: 100%;
  opacity: 0.5;
  transition: 0.1s ease-out;
  display: flex;
  align-items: center;
  margin-bottom: -3px;
}

.subject-content-body-right-header-nav-link-inactive:hover {
  transition: 0.1s ease-in;
  border-bottom: 2px solid var(--main-hover);
}

.create-activity-dropdown {
  background: var(--main);
  width: 10%;
  min-width: 85px;
  max-width: 90px;
  color: white;
  height: 70%;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font14);
  font-weight: 500;
  position: relative;
  transition: 0.2s ease-out;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
}

.create-activity-dropdown:before {
  content: "";
  position: absolute;
  background: rgba(238, 238, 238, 0.4);
  padding: 50%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
}

.create-activity-dropdown:active:before {
  transition: 0s;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
}

.create-activity-dropdown-after {
  background: white;
  width: 150%;
  height: 300%;
  min-width: 100px;
  color: var(--font);
  border-style: none;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  transition: 0.2s ease-out;
  position: absolute;
  top: 105%;
  right: 0;
  border: 1px solid rgb(218, 218, 218);
  box-shadow: 0px 8px 30px 0px rgba(82, 112, 131, 0.2);
  z-index: 4;
}

.create-activity-dropdown-after div {
  width: 100%;
  height: 33.33%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: 0.2s ease-in;
  font-size: var(--font13);
  font-weight: 400;
}

.material-item {
  border-top: 1px solid lightgrey;
}

.create-activity-dropdown-after div:hover {
  background: rgb(238, 241, 241);
  transition: 0.1s ease-out;
}

.create-activity-dropdown i {
  margin-left: 10px;
}

.create-activity-dropdown:hover {
  background: var(--main-hover);
  transition: 0.2s ease-in;
}

.margin-top {
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0);
}

.subject-content-body-right-body {
  width: 100%;
  min-height: 200px;
  height: auto;
  background: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px var(--border);
  padding: 0px 20px;
  padding-bottom: 20px;
}

.subject-content-assigned-header,
.subject-content-completed-header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--font14);
  color: var(--font);
  max-height: 60px;
  min-height: 5px;
}

.subject-content-assigned-headers {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--font14);
  color: var(--font);
}

.quarter-filtered {
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  padding: 5px;
  border-radius: 3px;
  transition: 0.1s ease-in;
  position: relative;
}

.quarter-filtered-after {
  height: 600%;
  width: 100%;
  color: var(--font);
  border-style: none;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  transition: 0.2s ease-out;
  position: absolute;
  top: 108%;
  right: 0;
  border: 1px solid rgb(218, 218, 218);
  box-shadow: 0px 8px 30px 0px rgba(82, 112, 131, 0.2);
  z-index: 3;
  background: white;
}

.quarter-filtered-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: 0.2s ease-in;
  font-size: var(--font13);
  font-weight: 400;
}

.quarter-filtered-items:hover {
  background: rgb(238, 241, 241);
  transition: 0.1s ease-out;
}

.quarter-filtered i {
  margin-left: 10px;
}

.quarter-filtered:hover {
  background: rgb(238, 241, 241);
  transition: 0.1s ease-out;
}

.subject-content-assigned-header i,
.subject-content-completed-header i {
  margin-left: 10px;
}

.subject-content-assigned-header p,
.subject-content-completed-header p {
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  padding: 5px;
  border-radius: 3px;
  transition: 0.1s ease-in;
}

.subject-content-assigned-header p:hover,
.subject-content-completed-header p:hover {
  background: rgb(238, 241, 241);
  transition: 0.1s ease-out;
}

.subject-content-assigned-body-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
}

.subject-content-assigned-body,
.subject-content-completed-body {
  width: 100%;
  height: 70px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  transition: 0.2s ease-out;
  text-decoration: none;
}

.subject-content-assigned-body-draft {
  width: 100%;
  height: 70px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  transition: 0.2s ease-out;
  text-decoration: none;
  opacity: 0.75;
}

.subject-content-assigned-body-draft:hover {
  transition: 0.2s ease-in;
  border: 1px solid rgb(179, 179, 179);
  background: rgb(247, 247, 247);
}

.subject-content-assigned-body-draft span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-hover);
  margin-right: 10px;
}

.subject-content-assigned-body-draft-title {
  display: flex;
  align-items: center;
  font-size: var(--font13);

  opacity: 1;
}

.subject-content-assigned-body-draft-title p {
  margin-left: 5px;
  font-style: italic;
  color: grey;
}

.subject-content-assigned-body:hover,
.subject-content-completed-body:hover {
  transition: 0.2s ease-in;
  border: 1px solid rgb(179, 179, 179);
  background: rgb(247, 247, 247);
}

.activity-points-after {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: var(--font12);
  color: var(--sub-font);
}
.subject-content-assigned-body-right-title {
  display: flex;
  align-items: center;
  font-size: var(--font13);
  color: var(--font);
}

.subject-content-assigned-body-right b {
  font-size: var(--font13);
  color: var(--font);
}

.subject-content-assigned-body span,
.subject-content-completed-body span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-hover);
  margin-right: 10px;
}

.sub-subject-content-assigned-body-right {
  display: flex;
  font-size: var(--font13);
  color: var(--sub-font);
}

.activity-topic-value,
.activity-due-value {
  margin-right: 10px;
}

.hidden {
  display: none;
}

/*Activitties Form */
.assignment-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  position: absolute;
  z-index: 4;
  left: 0;
  padding-bottom: 20px;
  overflow-y: scroll;
}
.assignment-wrapper-afters {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.show-discard {
  width: 30%;
  height: 30%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 5px;
}

.show-discard-header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  color: var(--font);
}

.show-discard-body {
  width: 100%;
  height: 55%;
  background: pink;
}

.assignment-wrapper-after {
  width: 20%;
  height: 10%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font13);
  min-width: 275px;
  min-height: 50px;
  max-height: 50px;
  opacity: 0.95;
  transition: 0.1s ease-out;
  font-weight: 300;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.assignment-header {
  width: 100%;
  height: 10vh;
  max-height: 60px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px var(--border);
  color: var(--font);
}

.assignment-body,
.quiz-body {
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 400px;
  /* border: 1px var(--border); */
}

.back-div-btn {
  width: 90px;
  height: 40px;
  background: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font15);
  color: var(--font);
  border-radius: 3px;
  transition: 0.2s ease-out;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-div-btn:hover {
  transition: 0.2s ease-in;
  background: rgb(218, 218, 218);
}

.back-div-btn i {
  margin-right: 10px;
}

.assignment-div-topic-err {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(255, 207, 207);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font15);
  color: red;
  background: rgb(255, 228, 233);
  font-weight: 300;
  border-radius: 3px;
}

.assignment-div-points,
.assignment-div-topic {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}
.assignment-div-due {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.assignment-div-date {
  width: 46%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.assignment-div-date input {
  width: 100%;
  height: 35px;
  border-style: none;
  border: 1px solid lightgrey;
  outline-style: none;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: var(--font);
}

.assignment-div-points label,
.assignment-div-topic label,
.assignment-div-date label {
  font-size: var(--font13);
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 5px;
  pointer-events: none;
}

.outside-label {
  font-size: var(--font13);
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 5px;
  pointer-events: none;
}
.assignment-div-points input {
  width: 15%;
  height: 35px;
  border-style: none;
  outline-style: none;
  border-bottom: 1px solid lightgrey;
  min-width: 70px;
  padding-left: 10px;
  color: var(--font);
  background: rgb(249, 251, 253);
}

.assignment-div-points input:focus {
  border-bottom: 1px solid grey;
}

.assignment-div-topic input:focus,
.assignment-div-date input:focus {
  border: 1px solid grey;
}

.assignment-div-topic textarea:focus {
  border-bottom: 1px solid grey;
}

.assignment-div-topic input,
.assignment-div-topic select {
  width: 100%;
  height: 35px;
  border-style: none;
  outline-style: none;
  border: 1px solid lightgrey;
  color: var(--font);
  padding-left: 10px;
  border-radius: 2px;
  color: var(--font);
  padding-right: 10px;
}

.assignment-div-topic select {
  cursor: pointer;
}

.assignment-div-topic textarea {
  width: 100%;
  height: 100px;
  border-style: none;
  outline-style: none;
  border-bottom: 1px solid lightgrey;
  color: var(--font);
  padding: 10px;
  border-radius: 2px;
  resize: none;
  background: rgb(249, 251, 253);
  color: var(--font);
}

.custom-file-input {
  width: 80%;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  width: 0px;
}
.custom-file-input::before {
  content: "Upload File";
  display: inline-block;
  background: rgb(228, 228, 228);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  cursor: pointer;
  font-size: var(--font10);
  transition: 0.2s ease-out;
  color: var(--font);
  font-weight: border;
}
.custom-file-input:hover::before {
  border-color: rgb(190, 190, 190);
  background: rgb(212, 212, 212);
  transition: 0.2s ease-in;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.create-stream-post-divs {
  width: 100%;
  height: auto;
  display: flex;
  font-weight: 500;
  margin-top: 15px;
  border: 1px solid lightgrey;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.assignment-div-submit {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.submit-btn-dropdown {
  width: 30px;
  height: 40px;
  background: var(--main);
  margin-left: 2px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-out;
  color: white;
  cursor: pointer;
  position: relative;
}

.submit-btn-dropdown:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

.submit-btn-dropdown-after {
  width: 122px;
  height: 260%;
  position: absolute;
  top: 105%;
  background: rgb(255, 255, 255);
  right: 0;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: var(--font);
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  box-shadow: 0px 8px 30px 0px rgba(82, 112, 131, 0.2);
}

.submit-btn-dropdown-after-draft {
  width: 122px;
  height: 350%;
  position: absolute;
  top: 105%;
  background: rgb(255, 255, 255);
  right: 0;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: var(--font);
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  box-shadow: 0px 8px 30px 0px rgba(82, 112, 131, 0.2);
}

.submit-btn-dropdown-after-item {
  display: flex;
  width: 100%;
  height: 33.33%;
  align-items: center;
  padding-left: 20px;
  font-size: var(--font13);
  transition: 0.1s ease-out;
}

.submit-btn-dropdown-after-item-draft {
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  padding-left: 20px;
  font-size: var(--font13);
  transition: 0.1s ease-out;
}

.submit-btn-dropdown-after-item-draft-discard {
  border-top: 1px solid lightgrey;
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  padding-left: 20px;
  font-size: var(--font13);
  transition: 0.1s ease-out;
}

.submit-btn-dropdown-after-item-draft:hover,
.submit-btn-dropdown-after-item-draft-discard:hover {
  transition: 0.1s ease-in;
  background: rgb(238, 241, 241);
}

.submit-btn-dropdown-after-item:hover {
  transition: 0.1s ease-in;
  background: rgb(238, 241, 241);
}

.submit-assignment-btn {
  width: 90px;
  height: 40px;
  border-style: none;
  outline-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  background: var(--main);
  transition: 0.2s ease-out;
  color: white;
  margin-left: 20px;
}

.submit-assignment-btn-opacity {
  width: 90px;
  height: 40px;
  border-style: none;
  outline-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  background: var(--main);
  transition: 0.2s ease-out;
  color: white;
  margin-left: 20px;
  opacity: 0.4;
  pointer-events: none;
}

.submit-assignment-btn:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

.cancel-assignment-btn {
  width: 90px;
  height: 40px;
  border-style: none;
  outline-style: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-out;
  color: var(--font);
  background: rgb(226, 226, 226);
}

.cancel-assignment-btn:hover {
  transition: 0.2s ease-in;
  background: lightgrey;
}

/*Create Quiz */
.create-quiz-btn {
  background: var(--main);
  border-style: none;
  outline-style: none;
  transition: 0.2s ease-in;
  color: white;
  padding: 10px 8px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
}

.create-quiz-btn:hover {
  transition: 0.2s ease-in;
  background: var(--main-hover);
}

/*Quiz questionaire */
.quiz-question {
  width: 100%;
  border: 1px var(--border);
  height: auto;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 1px 1px 0px rgba(46, 64, 75, 0.2);
}

.quiz-question-number {
  margin-bottom: 15px;
  color: var(--font);
  font-size: var(--font15);
}

.quiz-question-questionType {
  margin-bottom: 15px;
  color: var(--font);
  font-size: var(--font15);
  display: flex;
}

.quiz-question-questionType label {
  margin-right: 10px;
}
