.subject-class-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background: #f3f6f7;
  min-height: 200px;
}

.subject-class-content {
  width: 95%;
  height: 100vh;
  background: #f3f6f7;
  overflow-y: scroll;
}

.subject-class-content-body {
  width: 95%;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.class-by-subject {
  width: 48%;
  height: 12vh;
  background: white;
  border: 1px var(--border);
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 1px 1px 0px rgba(63, 87, 102, 0.2);
  padding: 10px 20px;
  min-width: 180px;
  min-height: 80px;
  max-height: 120px;
  transition: 0.2s ease-out;
  margin-bottom: 20px;
  font-size: var(--font15);
}

.class-by-subject:hover {
  transition: 0.2s ease-in;
  transform: scale(1.015);
  color: var(--main-hover);
}

.class-by-subject i {
  padding: 8px;
  border: 1px solid var(--sub-font);
  border-radius: 50%;
  margin-right: 10px;
  color: var(--sub-font);
}

.show-no-subjects {
  width: 100%;
  height: 100%;
  color: var(--sub-font);
  text-align: center;
  font-size: var(--font14);
}

.subject-loader {
  background: rgba(255, 0, 0, 0);
  top: 50%;
  left: 50%;
  position: absolute;
}

@media screen and (max-width: 780px) {
  .subject-class-content-body {
    justify-content: space-between;
  }

  .class-by-subject {
    width: 48%;
    min-width: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 586px) {
  .class-by-subject {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
