@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://cdn.syncfusion.com/ej2/material.css");

:root {
  --main: #2ab56f;
  --font: #323b44;
  --sub-font: #7a7a7a;
  --main-hover: #23975d;
  --border: solid rgb(235, 235, 235);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}

.app {
  width: 100%;
  height: auto;
}

body {
  background: rgb(241, 241, 241);
}
