.class-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  background: #ffffff;
}

.class-wrapper-active {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #00000075;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

.class-content {
  width: 95%;
  height: 100vh;
  overflow-y: scroll;
  background: #f7f8fb;
}

.class-actual-body {
  width: 95%;
  height: auto;
  min-height: 200px;
  background: white;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.1);
  border: 1px solid rgb(235, 235, 235);
}

.class-actual-body-header {
  width: 95%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}

.div-class-search {
  width: 35%;
  height: 60%;
  position: relative;
  display: flex;
  align-items: center;
}

.div-class-active {
  width: 15%;
  height: 60%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-class-search i {
  position: absolute;
  left: 15px;
  color: #2ab56f;
  font-size: 14px;
}

.div-class-search input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-style: none;
  outline-style: none;
  padding-left: 40px;
  border: 1px solid rgb(235, 235, 235);
  padding-right: 10px;
  background: rgb(243, 245, 247);
}

.div-class-search input:focus {
  border: 1px solid rgb(184, 198, 214);
}

.class-actual-body-header-nav {
  width: 50%;
  height: 100%;
  display: flex;
}

.class-actual-body-header-1 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.class-actual-body-header-1-active,
.class-actual-body-header-2-active {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2ab56f;
  border-bottom: 2px solid #2ab56f;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.class-actual-body-header-1,
.class-actual-body-header-2 {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #7a7a7a;
}

.class-actual-body-header-2 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.add-class-button {
  width: 10%;
  min-width: 125px;
  height: 65%;
  background: #2ab56f;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-out;
  font-weight: 500;
}

.add-class-button:hover {
  background: #23975d;
  transition: 0.2s ease-in;
}

.add-class-button i {
  font-size: 13px;
  margin-right: 5px;
}

.class-actual-body-active {
  width: 100%;
  height: auto;
  min-height: 10vh;
  font-size: 14px;
  justify-content: center;
  position: relative;
}

.class-actual-body-archive {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
}

.create-subject-form {
  width: 40%;
  min-height: 400px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.create-class-div {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}

.create-class-div-submit {
  display: flex;
  width: 80%;
  height: auto;
  margin-top: 10px;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.create-class-div label {
  font-size: 13px;
  margin-bottom: 15px;
  color: #7a7a7a;
  font-weight: 500;
}

.create-class-div input,
.create-class-div select {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border-style: none;
  outline-style: none;
  background: rgb(246, 248, 250);
  border: 1px solid rgb(230, 230, 236);
  padding-left: 10px;
  margin-top: 5px;
}

.create-class-div select:focus,
.create-class-div input:focus {
  border: 1px solid rgb(170, 183, 192);
}

.create-class-create-btn {
  width: 20%;
  height: 40px;
  background: #2ab56f;
  border-style: none;
  outline-style: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 15px;
  transition: 0.2s ease-out;
  margin-top: 10px;
  margin-bottom: 10px;
}
.create-class-create-btn:hover {
  transition: 0.2s ease-in;
  background: #23975d;
}

.create-class-reset-btn {
  width: 20%;
  height: 40px;
  background: rgb(229, 231, 238);
  border-style: none;
  outline-style: none;
  border-radius: 5px;
  color: #323b44;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.create-class-reset-btn:hover {
  transition: 0.2s ease-in;
  background: rgb(207, 208, 214);
}

.class-actual-body-active-span {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.class-actual-body-active-header {
  width: 100%;
  height: 10vh;
  border-bottom: 5px solid #f7f8fb;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  color: #7a7a7a;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.class-actual-body-active-name {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.class-actual-body-active-adviser {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.class-actual-body-active-capacity {
  width: 20%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.class-actual-body-active-action {
  width: 10%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.class-actual-body-active-action i {
  cursor: pointer;
  font-size: 15px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-out;
  color: grey;
}

.router {
  text-decoration: none;
}

.class-actual-body-active-action i:hover {
  color: #323b44;
  box-shadow: 0px 8px 30px 0px rgba(49, 68, 80, 0.2);
  transition: 0.1s ease-in;
}

.class-actual-body-active-body {
  width: 100%;
  height: 10vh;
  display: flex;
  color: #323b44;
  border-bottom: 2px solid #f7f8fb;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.class-actual-body-active-body:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px 0px rgba(75, 100, 116, 0.1);
  transition: 0.1s ease-in-out;
}

.class-error-message-green {
  width: 100%;
  height: 8vh;
  display: flex;
  font-size: 15px;
  justify-content: center;
  color: rgb(24, 202, 24);
}

.class-error-message-green i {
  display: none;
}

.class-error-message-red {
  width: 100%;
  height: 8vh;
  display: flex;
  font-size: 15px;
  justify-content: center;
  color: red;
  align-items: center;
}

.class-error-message-red i {
  margin-right: 5px;
}

.class-error-message {
  display: none;
}
