.class-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  background: #f7f8fc;
  flex-direction: row;
  position: relative;
}

.class-wrapper-active {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #00000075;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

.class-content {
  width: 95%;
  height: 100vh;
  background: #f7f8fc;
  overflow-y: scroll;
}

.class-actual-header {
  width: 95%;
  height: 10vh;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.class-actual-body {
  width: 95%;
  height: auto;
  min-height: 200px;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.1);
}

.class-actual-body-header {
  width: 95%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.add-class-button {
  width: 11%;
  min-width: 125px;
  height: 55%;
  background: #0464fc;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-out;
  font-weight: 500;
}

.add-class-button:hover {
  background: #044ec7;
  transition: 0.2s ease-in;
}

.add-class-button i {
  font-size: 13px;
  margin-right: 5px;
}

.class-actual-body-empty {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.create-subject-form {
  width: 50%;
  height: 50%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 3;
}
