.class-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  background: #f7f8fc;
  position: relative;
}

.class-wrapper-active {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #00000075;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

.class-content {
  width: 95%;
  height: 100vh;
  background: #f7f8fc;
  overflow-y: scroll;
}

.class-actual-header {
  width: 95%;
  height: 10vh;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.class-actual-body {
  width: 95%;
  height: auto;
  min-height: 200px;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 8px 30px 0px rgba(63, 87, 102, 0.1);
}

.class-actual-body-header {
  width: 95%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.class-actual-body-header-nav {
  width: 50%;
  height: 100%;
  display: flex;
}

.class-actual-body-header-1 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.class-actual-body-header-1-active,
.class-actual-body-header-2-active {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0464fc;
  border-bottom: 2px solid #0464fc;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.class-actual-body-header-2 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.add-class-button {
  width: 12%;
  min-width: 125px;
  height: 65%;
  background: #0464fc;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-out;
  font-weight: 500;
}

.add-class-button:hover {
  background: #044ec7;
  transition: 0.2s ease-in;
}

.add-class-button i {
  font-size: 13px;
  margin-right: 5px;
}

.class-actual-body-active {
  width: 100%;
  height: auto;
  min-height: 10vh;
  font-size: 14px;
  justify-content: center;
  position: relative;
}

.class-actual-body-archive {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
}

.create-subject-form {
  width: 40%;
  height: auto;
  min-height: 200px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 3;
  padding-top: 35px;
  padding-bottom: 15px;
}

.create-class-div {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.create-class-div-submit {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 5%;
}

.create-class-div label {
  width: 25%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  font-size: 14px;
}

.create-class-div input,
.create-class-div select {
  width: 65%;
  height: 38px;
  border-radius: 5px;
  border-style: none;
  outline-style: none;
  background: rgb(246, 248, 250);
  border: 1px solid rgb(230, 230, 236);
  padding-left: 10px;
}

.create-class-div select:focus,
.create-class-div input:focus {
  border: 1px solid rgb(170, 183, 192);
}

.create-class-create-btn {
  width: 22%;
  height: 45px;
  background: #0464fc;
  border-style: none;
  outline-style: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 15px;
  transition: 0.2s ease-out;
}
.create-class-create-btn:hover {
  transition: 0.2s ease-in;
  background: #044ec7;
}

.create-class-reset-btn {
  width: 22%;
  height: 45px;
  background: rgb(229, 231, 238);
  border-style: none;
  outline-style: none;
  border-radius: 5px;
  color: #323b44;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.create-class-reset-btn:hover {
  transition: 0.2s ease-in;
  background: rgb(207, 208, 214);
}

.class-actual-body-active-span {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.class-actual-body-active-header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
}

.class-actual-body-active-number {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-actual-body-active-name {
  width: 25%;
  height: 100%;

  display: flex;
  align-items: center;
  padding-left: 20px;
}

.class-actual-body-active-adviser {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.class-actual-body-active-capacity {
  width: 35%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.class-actual-body-active-action {
  width: 10%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.class-actual-body-active-action i {
  cursor: pointer;
  font-size: 15px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-out;
  color: grey;
}

.class-actual-body-active-action i:hover {
  color: #323b44;
  box-shadow: 0px 8px 30px 0px rgba(49, 68, 80, 0.2);
  transition: 0.1s ease-in;
}

.class-actual-body-active-body {
  width: 100%;
  height: 8vh;
  display: flex;
  border-bottom: 1px solid rgb(235, 235, 235);
  color: rgb(95, 95, 95);
}
